<div class='container text-center page-header'>
  <h1><%= @trail.name %></h1>
</div>

<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <h3>Closest Breweries:</h3>
      <%@breweries.each do |brewery|%>
        <p><%= link_to brewery.name, brewery_path(brewery.id)%></p>
      <% end %>
    </div>
    <div class="col-sm-8 text-left"> 
      <hr>

      <iframe
        width="600"
        height="450"
        style="border:0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src=<%="https://www.google.com/maps/embed/v1/place?key=#{ENV['GOOGLE_API_KEY']}&q=#{@trail.latitude},#{@trail.longitude}" %>>
      </iframe>
      <%if current_user %>
        <h3><%= button_to "Add to Accomplishments", user_accomplishments_path, params: { user_id: current_user.id, trail: { id: @trail.id, name: @trail.name } }, method: :post, disabled: @favorite  %></h3>
      <% end %>
      <h3>More info about <%= @trail.name %> here: <%= link_to "COTREX Hiking App", "https://trails.colorado.gov/trailheads/#{@trail.name.downcase.gsub(" ", "-")}-#{@trail.co_id}" %></h3>
    
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>