<h1><%= @brewery.name %></h1>
<h3>Street Address: <%= @brewery.street %></h3>
<h3>City: <%= @brewery.city %></h3>
<h3>Phone: <%= @brewery.phone %></h3>
<h3><%= "Website: #{@brewery.website}" if @brewery.website  %></h3>