<div class='container'>
  <div class='text-center'>
    <div class='page-header'>
      <h1><%= @brewery.name %></h1>
      <h3>Street Address: <%= @brewery.street %></h3>
      <h3>City: <%= "#{@brewery.city}, #{@brewery.state}" %></h3>
      <h3>Phone: <%= number_to_phone(@brewery.phone, area_code: true) %></h3>

      <% unless @brewery.website == "No website on file" %>
        <h3>Website: <%= link_to "#{@brewery.website}", @brewery.website  %></h3>
      <% else %>
        <h3>Website: <%= @brewery.website %> </h3>
      <% end %>

      <% unless @brewery.latitude.nil? || @brewery.longitude.nil? %>
        <iframe
          width="600"
          height="450"
          style="border:0"
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
          src=<%="https://www.google.com/maps/embed/v1/place?key=#{ENV['GOOGLE_API_KEY']}&q=#{@brewery.latitude},#{@brewery.longitude}" %>>
        </iframe>
      <% else %> 
        <h2> Missing coordinates </h2>
      <% end %>

      <h3><%= button_to "Add to Favorites", user_accomplishments_path, params: { user: current_user, brewery: @brewery }, method: :post, disabled: @favorite  %></h3>
    </div>
  </div>
</div>
