<div class='container'>
  <div class='text-center'>
    <div class='page-header'>
      <h1><%= @brewery.name %></h1>
      <%# <h3>Street Address: <%= @brewery.street %></h3> %>
      <h3>City: <%= "#{@brewery.city}, #{@brewery.state}" %></h3>
      <%# <h3>Phone: <%= @brewery.phone %></h3> %>
      <h3><%= "Website: #{@brewery.website}" if @brewery.website  %></h3>
      <iframe
        width="600"
        height="450"
        style="border:0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src=<%="https://www.google.com/maps/embed/v1/place?key=#{ENV['GOOGLE_API_KEY']}&q=#{@brewery.latitude},#{@brewery.longitude}" %>
      </iframe>

    </div>
  </div>
</div>
